<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weboapps.badmintonbuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:debuggable="true">
        <activity
            android:name="com.badmintonbuddy.BadmintonBuddyNativeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.badmintonbuddy.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.badmintonbuddy.SignupActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.badmintonbuddy.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        
        <activity
            android:name="com.badmintonbuddy.SlidingMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.badmintonbuddy.AreaListActivity"
            android:label="@string/app_name">
            
        </activity>
        <activity
            android:name="com.badmintonbuddy.location.LocationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.badmintonbuddy.NearbyActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>